<!DOCTYPE html>
<html>
   <head>
      <title>Report Table for Interface Status</title>
   </head>

   <body>
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>Network Device</th>
            <th>Interface Name</th>
            <th>Status</th>
            <th>Type</th>
            <th>Speed</th>
            <th>Duplex</th>
            <th>VLAN</th>
         </tr>