<!DOCTYPE html>
<html>
   <head>
      <title>Report Table for Interface Status</title>
   </head>

   <body>
   <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for models.." title="Type in a model">
   <table id="myTable">
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>Network Device</th>
            <th>Model</th>
            <th>Version</th>
            <th>Image</th>
            <th>Uptime</th>
            <th>Config Register</th>
            <th>Total Memory</th>
            <th>Free Memory</th>
         </tr>