         <tr>
            <td>{{ inventory_hostname }}</td>
            <td>
               <ul>
{% for port in port_facts %}
    {% for name in port %}   
                  <li>{{ port[name].config.port_name }}</li>
                  <li>{{ port[name].config.status }}</li>
    {% endfor %}                  
{% endfor %}
               </ul>
            </td>
         </tr>