         <tr>
            <td>{{ inventory_hostname }}</td>
            <td>
               <ul>
{% for port in port_facts %}
   
                  <li>{{ port['Fa0/1'].config.port_name }}</li>
                  <li>{{ port['Fa0/1'].config.status }}</li>
                  
{% endfor %}
               </ul>
            </td>
         </tr>