     
         <tr>     
             <td> {{ inventory_hostname }} </td>     
             <td> {{ system_facts.model }} </td>    
             <td> {{ system_facts.version }} </td>
             <td> {{ system_facts.image }} </td>    
             <td> {{ system_facts.uptime }} </td>           
             <td> {{ system_facts.config_register }} </td>    
             <td> {{ system_facts.memory.total }} </td>    
             <td> {{ system_facts.memory.free }} </td>           
         </tr>         
               
            
         
